<h1>Add a new item</h1>

<form action="/make_a_new_item" method="post">
  <div>
    <label for = "mama">Link URL</label>
    <input id = "mama" type = "text" name="link_url_param">
  </div>

  <div>
    <label for="bb">Link Description</label>
    <input id="bb" type = "text" name="link_description_param">

  <div>
    <label for="cc">Thumbnail URL</label>
    <input id="cc" type = "text" name="thumbnail_url_param">
  </div>

  <button>Create item</button>





</form>
