<div class="main-container">
  <div class="image-row">
    <img src="/profile-pic.jpg" alt="My headshot" class="avatar-image">
  </div>

  <div class="name-row">
    My Name
  </div>

  <div class="social-icons-row">
    <a href="#" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>

    <a href="#" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>

    <a href="#" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="#" target="_blank">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>

  <div class="links-row">
    <% @list_of_items.each do |the_item| %>
      <div class="item">
        <img src="<%= the_item.thumbnail_url %>" class="thumbnail">

        <a class="link-text" target="_blank" href="<%= the_item.link_url %>">
          <%= the_item.link_description %>
        </a>
      </div>
    <% end %>
  </div>
</div>
